.tb-conta-id         { width: 080px; }
.tb-conta-descricao  { width: auto;  }
.tb-conta-moeda      { width: auto;  }
.tb-conta-buttons    { width: 110px; }

@media (min-width: 720px) and (max-width: 899px) { 
.tb-conta-id         { display: none;  }
}
@media (min-width: 900px) and (max-width: 1199px) { 

}
@media (min-width: 1200px) and (max-width: 1379px) { 

}
