.email-container { border: 1px solid #ccc; height: 42px; border-bottom: none; }
.email-container input { height: 40px; box-shadow: none !important; border: none !important }
.email-label { padding-top: 11px; font-weight: 100; }
