.tb-pais-id             { width: 090px; }
.tb-pais-pais           { width: auto; }
.tb-pais-sigla          { width: 090px; }
.tb-pais-nacionalidade  { width: 200px; }
.tb-pais-buttons        { width: 120px; }
