/* @page {
  size: auto;
  size: auto !important;
} */


.dossie-consulta-container {
  width: 595px;
  height: auto;
  height: auto !important;
}

.dossie-consulta-table-title {
  font-size: 8px;
  background-color: #303030;
  color: #FFF;
  padding: 9px !important;
  text-align: left;
  border: 1px solid #FFF; 
}

.dossie-consulta-table {
  text-align: left;
  font-size: 10px !important;
}

.dossie-consulta-table {
  border-collapse: collapse;
}
.dossie-consulta-table td {
  border: 1px solid #AFAFAF; 
}
.dossie-consulta-table:first-child td {
  border-top: 0;
}
.dossie-consulta-table td:first-child {
  border-left: 0;
}
.dossie-consulta-table:last-child td {
  border-bottom: 0;
}
.dossie-consulta-table td:last-child {
  border-right: 0;
}

.dossie-consulta-table td {
  padding: 9px;
  padding-right: 0px;
}

@media print {
  .dossie-consulta-container {
    width: auto;
    height: auto;
    height: auto !important;
    zoom: 1.2;
  }

  .table thead tr th { 
    background-color: #303030 !important;
    color: #FFF !important;
    border: 1px solid #303030 !important
  }

  .table tbody tr td { background-color: #EFEFEF !important; }

}
/* .table-striped tbody tr:nth-of-type(odd) td {
  background-color: rgba(0, 0, 0, .05)!important;
} */