.card-header-title-height { 
   height: 28px; 
}
.card-header-hr { 
   margin-top: -8px; 
   padding: none;
}
.card-header-excel {
   margin: none;
   padding: none;
   margin-top: -4px;
   margin-right: 18px;
   float: right;
}

.card-header-buttons {
    float: right;
    margin-top: -9px;
}

.card-header-buttons button {
   font-size: 12px;
}