.card-permissao { min-height: 470px !important; }
.card-permissao-funcao { position: absolute; }
.ficha-permissao-icon-down { margin-top: -6px;  }
.col-check-user-permissao { height: 33px; padding-left: 15px !important; }

.col-check-user-permissao-icon { width: 30px;  padding-left: 6px; padding-top: 3px !important; }
.col-check-user-permissao-texto { padding-top: 10px; padding-left: 8px; }
.col-check-user-permissao-checkbox { width: 30px;  padding-left: 8px; padding-top: 3px !important; }