.tb-ocorrencias-id            { width: 80px; }
.tb-ocorrencias-data          { width: 90px; }
.tb-ocorrencias-participante  { width: auto; }
.tb-ocorrencias-fornecedor    { width: auto; }
.tb-ocorrencias-projeto       { width: auto; }
.tb-ocorrencias-status        { width: 120px; }
.tb-ocorrencias-buttons       { width: 120px; }