.table-total { margin-top: 0px; }
.table-total-hr { height: 4px; }

.column-empty { width: auto !important; }

.table-total-column {
   font-size: 12px;
   text-align: right;
}

.table-total-column-title { 
   font-weight: bold;
   width: 80px !important;    
}

.column-valor { 
   width: 130px !important;
}

