.dossie-tb-emergencia-tag { width: 36px; }
.dossie-tb-emergencia-nome-completo { width: auto; }
.dossie-tb-emergencia-nome { width: auto; }
.dossie-tb-emergencia-parentesco { width: 75px; }
.dossie-tb-emergencia-telefone { width: 90px; }
