.tb-ficha03-id             { width: 100px; }
.tb-ficha03-bilhete        { width: auto;  }
.tb-ficha03-tour-code      { width: 110px; }
.tb-ficha03-pta            { width: 070px; }
.tb-ficha03-dt-emissao     { width: 120px; }
.tb-ficha03-dt-solicitacao { width: 130px; }
.tb-ficha03-buttons        { width: 080px; }
