.tb-municipio-id           { width: 080px; }
.tb-municipio-pais         { width: auto; }
.tb-municipio-municipio    { width: auto; }
.tb-municipio-buttons      { width: 110px; }

@media (min-width: 720px) and (max-width: 899px) { 
   .tb-municipio-id     { display: none;  }
}
