.tb-ficha08-id      { width: 100px; }
.tb-ficha08-cia     { width: 070px; }
.tb-ficha08-voo     { width: 070px; }

.tb-ficha08-prefixo { width: auto;  }
.tb-ficha08-data    { width: 095px; }
.tb-ficha08-hora    { width: 070px; }

.tb-ficha08-classe  { width: 090px; text-align: center; }
.tb-ficha08-buttons { width: 080px; }
