.tb-ficha07-id           { width: 100px; }
.tb-ficha07-pax          { width: auto;  }
.tb-ficha07-nome-reserva { width: 200px; }
.tb-ficha07-tipo         { width: 100px; }
.tb-ficha07-buttons      { width: 080px; }
