.tb-servico-servico { width: auto; }
.tb-servico-prazo { width: 110px; }
.tb-servico-pagto { width: 120px; }
.tb-servico-prazo { width: 110px; }
.tb-servico-receb { width: 120px; }
.tb-servico-buttons { width: 100px; }
