.dossie-tb-passaporte-tag { width: 36px; }
.dossie-tb-passaporte-nome-completo { width: auto; }
.dossie-tb-passaporte-passaporte { width: 90px; }
.dossie-tb-passaporte-pais { width: 90px; }
.dossie-tb-passaporte-dt-emissao { width: 80px; }
.dossie-tb-passaporte-dt-validade { width:85px; }