.tb-vistos-numero       { width: 110px; }
.tb-vistos-mun_emissao { width: auto;  }
.tb-vistos-dt_validade  { width: 100px; }
.tb-vistos-buttons      { width: 110px; }

@media (min-width: 720px) and (max-width: 899px) { 
   .tb-vistos-mun_emissao     { display: none;  }
}
@media (min-width: 900px) and (max-width: 1199px) { 
}
@media (min-width: 1200px) and (max-width: 1379px) { 

}
